<section class="jumbotron" id="about-banner">
    <!-- <div class="container text-center">
        <div class="row">
            <div class="headline">
            </div>
        </div>
    </div> -->
</section>


<div class="container col-sm-7" id="page-body">
    <section class="container">
        <div class="container text-center">
            <div class="row">
                <div class="container text-center">
                    <h1 class="headline">About Ribbon</h1>
                </div>

                <div class="headline">
                    <h2 id="blackline-text" class="'index-banner-dame">Witch, Diviner, Dame of Death</h2>
                </div>
            </div>
        </div>
    </section>
</div>