<section class="jumbotron" id="index-banner">
    <!-- <div class="container text-center">
        <div class="row">
            <h1 class="headline">Magic By Ribbon</h1>
            <h2 id="blackline-text" class="'index-banner-dame">Witch, Diviner, Dame of Death</h2>
        </div>
    </div> -->
</section>


<div class="container col-sm-7" id="page-body">
    <div class="container text-center">
        <div class="row">
            <h1 class="headline">Magic By Ribbon</h1>
            <h2 id="blackline-text" class="'index-banner-dame">Witch, Diviner, Dame of Death</h2>
        </div>
    </div>
    <h3 class="col-med-6 text-center">
        Witchcraft is meant to be shared. Worked for and with others. As times get weirder and hellfire rises,
        ancient
        traditions of healing, power, and spirit congress are being revived. In this beautiful, stinking world, it
        helps
        to have a witch you can count on, a magician you can trust. <br><br> I’m pleased to be offering tarot
        readings
        and ELDRITCH consulting sessions. <a href="https://tidycal.com/magicbyribbon" target="_blank"
            class="intro-link link-secondary"> Schedule an
            appointment</a> , catch up with my <a href="/blog" class="intro-link  link-secondary">blog</a>, and
        please

        be <a a href="/contact" class="intro-link link-secondary">in touch</a>, there is much work to be done!
    </h3>
</div>



<section class="container col-sm-7 align-items-center" id="index-link-cards">
    <div class="row row-cols-5 row-cols-lg-4 g-lg-3 py-4">
        <a href="/about" class="col test-center category__link">
            <div class="category__img shadow">
                <img src="https://i.imgur.com/f75WWbH.png" alt="Occult History" Loading="lazy">
            </div>
            <div class="pt-1">About</div>
        </a>
        <a href='/blog' class="col test-center category__link">
            <div class="category__img shadow">
                <img src="https://i.imgur.com/zo6AbWT.png" alt="Blog" Loading="lazy">
            </div>
            <div class="pt-1">Blog</div>
        </a>
        <a href="https://tidycal.com/magicbyribbon" target="_blank" class="col test-center category__link">
            <div class="category__img shadow">
                <img src="https://i.imgur.com/A2NQtr0.png" alt="Occult History" Loading="lazy">
            </div>
            <div class="pt-1">Schedule an Appointment</div>
        </a>
        <a href="/contact" class="col test-center category__link">
            <div class="category__img shadow">
                <img src="https://i.imgur.com/33atcob.png" alt="Occult History" Loading="lazy">
            </div>
            <div class="pt-1">Contact</div>
        </a>

        <!-- ********************************* -->
        <!-- make into links as page grows LINKS DEAD NOW -->
        <!-- <a href="#" class="col test-center category__link">
    <div class="category__img shadow">
        <img src="https://i.imgur.com/R3n9tbs.png" alt="Tarot" Loading="lazy">
    </div>
    <div class="pt-1">Shop</div>
</a>

<a href="#" class="col test-center category__link">
    <div class="category__img shadow">
        <img src="https://i.imgur.com/dR7noSQ.png" alt="Occult History" Loading="lazy">
    </div>
    <div class="pt-1">Classes</div>
</a> -->
        <!-- ********************************* -->

        <!-- <a href="#" class="col test-center category__link">
        <div class="category__img shadow">
            <img src="https://i.imgur.com/dR7noSQ.png" alt="view all" Loading="lazy">
        </div>
        <div class="pt-1">View all</div>
    </a> -->


    </div>
</section>